<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>ProdutoController</servlet-name>
        <servlet-class>br.newgo.apis.presentation.controller.ProdutoController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProdutoController</servlet-name>
        <url-pattern>/api/v1/produtos</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProdutoInfoController</servlet-name>
        <servlet-class>br.newgo.apis.presentation.controller.ProdutoInfoController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProdutoInfoController</servlet-name>
        <url-pattern>/api/v1/produtos/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProdutoStatusController</servlet-name>
        <servlet-class>br.newgo.apis.presentation.controller.ProdutoStatusController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProdutoStatusController</servlet-name>
        <url-pattern>/api/v1/produtos/status/*</url-pattern>
    </servlet-mapping>
<!--    TODO alterar para produtos/*/status (alterar extrairHash em request) -->

    <servlet>
        <servlet-name>ProdutoEstoqueBaixoController</servlet-name>
        <servlet-class>br.newgo.apis.presentation.controller.ProdutoEstoqueBaixoController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProdutoEstoqueBaixoController</servlet-name>
        <url-pattern>/api/v1/produtos/estoque-baixo</url-pattern>
    </servlet-mapping>
</web-app>